.jumbotron{
    padding-top: 2rem;
    background-color: #e2edff;
}
.p{
    font-style: italic;
}
#projects{
    background-color: #e2edff;
}
#contact{
    background-color: #e2edff;
}
section{
    padding-top: 2rem;
}